<div style="position: fixed;
    width: 100vw;
    height: 100px;
    bottom: 278px;" class="pageDiv" th:fragment="htmlPage">
    <nav style="    position: fixed;
    transform: translate(740px, 279px);">
        <ul class="pagination">
            <li :class="{ disabled: pagination.isFirstPage }">
<!--                <a href="#nowhere" @click="jump('first')">«</a>-->
                <a href="#nowhere" @click="jump('first')">首页</a>
            </li>
            <li :class="{ disabled: !pagination.hasPreviousPage }">
<!--                <a href="#nowhere" @click="jump('pre')">‹</a>-->
                <a href="#nowhere" @click="jump('pre')">上一页</a>
            </li>

            <li v-for="i in pagination.navigatepageNums">
                <a href="#nowhere" @click="jumpByNumber(i)">
                    {{i}}
                </a>
            </li>

            <li :class="{ disabled: !pagination.hasNextPage }">
<!--                <a href="#nowhere" @click="jump('next')">›</a>-->
                <a href="#nowhere" @click="jump('next')">下一页</a>
            </li>
            <li :class="{ disabled: pagination.isLastPage }">
<!--                <a href="#nowhere" @click="jump('last')">»</a>-->
                <a href="#nowhere" @click="jump('last')">尾页</a>
            </li>
        </ul>
    </nav>
</div>
