<div th:fragment="htmlFooter">
<!--    <h2 align="center"></h2>-->
<!--<link href="css/xiaohui/1.css" rel="">-->

<!--    <div class="NtuBox" >-->
<!--        <div class="picBox">-->
<!--            <img class="pic" src="img/site/xiaohui.png"/>-->
<!--        </div>-->
<!--        <span class="textBox">杏林学院</span>-->
<!--    </div>-->


    <div class="NtuBox rrrrr" >
        <div class="picBox">
            <img class="pic" src="img/site/xiaohui.png"/>
        </div>
        <span class="textBox">杏林学院</span>
    </div>
</div>
