<div class th:fragment="html"  >
    <a th:href="${application.contextPath}">
<!--    <a th:href="/">-->

        <a href="/"><img id="logo" src="img/site/xiaohui.png" class="logo" ></a>
    </a>





    <form action="search" method="get">




        <div class="searchDiv" style="background-color: #232342" >




            <input name="keyword" type="text" placeholder="搜你想搜 ">
            <button type="submit" class="searchButton" style="background-color: #232342">S一下</button>
            <div class="searchBelow">
				<span th:each="c,status: ${application.categories_below_search}"
                      th:if="${status.index>=5 && status.index<=9}">
					<a th:href="@{'category?cid='+${c.id}}" th:text="${c.name}"></a>
<!--					<span th:if="${status.index!=8}">|</span>-->
					<span th:if="${status.index!=8}"></span>
	            </span>

            </div>
        </div>

        <span style="font-size: 18px;
    position: absolute;
    transform: translate(1150px, -91px);
    border: 2px solid #eee;
    padding: 5px;
    /* transform: translateX(18px); */
    color: #d73636;">
			<a href="cart" style="color:#C40000;">
			<span style="color:#C40000;margin:0px;" class=" glyphicon glyphicon-shopping-cart redColor"></span>
			我的购物车</a>
	</span>


        <span style="transform: translate(156px, -106px);position: absolute;font-size: 50px;">当前用户登录人数：<span th:text="${#servletContext.getAttribute('count')}"></span></span>
<!--        <span style="transform: translate(156px, -106px);position: absolute;font-size: 50px;">当前在线访客人数：<span th:text="${#maps.size(onlineUserUtils.loginUsers)}"></span></span>-->

    </form>
</div>


